/* UI Script Default */
.realgraph {width:0px; height:100%;}

/* UI Customizing Style */
.graph.type01 {border:1px solid red; height:10px;}
.graph.type01 .realgraph {background:red;}

.graph.type02 {border:1px solid yellow; height:20px;}
.graph.type02 .realgraph {background:yellow;}

.graph.type03 {border:1px solid green; height:30px;}
.graph.type03 .realgraph {background:green;}